body{
    margin: 10px auto;
    text-align: center;
}
div{
    margin: 15px 50px ;
    text-align: center;
    font-family: Verdana;
}
h1{
    font-size: 24px;
    
}
img{
    width: 200px;
    height: auto;
}
h2{
    font-size: 20px;
    
}
a{
    color: white;
    background-color: #25d366;
    border: 5px solid #25d366;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 1px 15px;  
}
span{
    font-weight: bold;
}
p{
    font-size: 14px;
    margin: 50px;
}